*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: inline-block;
}

section{
    display: inline-block;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: gray;
    padding: 10px;
  }